@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

header {
  .navbar-brand {
    h1 {
      margin: 0;
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      font-size: 0.8rem;
    }

    img {
      transition: transform 0.4s ease;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }

  .nav-link {
    border-radius: 999px;

    &:hover {
      background: rgba(46, 204, 113, 0.12);
    }
  }

  .active {
    background: rgba(46, 204, 113, 0.2);
    font-weight: bold;
  }
}